<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				A promotional marketplace for local, creative, and technical.
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanlean.herokuapp.com/#!/" target="_blank">Learn more</a>
			</p>
		</div>
	</div>
	<div>
		<h2>Welcome to the Marketplace!</h2>
		<p>Promosaur is marketplace where entrepueners, businesses, musicians, artists, and creatives can trade services.</p>
		<p>In this day and age social is the currency of the internet. By leveraging the popularity of local creatives and promoting local businesses the community can benefit.</p>
		<h3>What can I do with Promosaur?</h3>
		<ul>
			<li>
				Say a business needs a retweet or a share. They can use the marketplace to shop for an artist to help promote them. In exchange the business can either pay the artist a nominal fee or they can give them credit to use at a business.
			</li>
			<li>
				Say a band needs to promote a show to as many people as possible. This band knows that "Local Pub" is having happy hour between 5-9. The band can look for the "Local Pub" on the database and either offer free tickets to the show, offer a promotional message on a band's social media channels, or provide the pub with a nominal fee.
			</li>
			<li>
				An established artist is having an art exhibition at their gallery or space. This artist does not have much in terms of liquid assets but does have tons of social media prescenes. This artist needs a DJ for their exhibition. Using Promosaur they can reach out to a DJ who has no fans and offer the DJ some exposure through social media plus a discounted fee.
			</li>
			<li>
				We are testing the waters with the app and will also facilate business to business trades on the exchange. The whole purpose of Promosaur is to bring up local enviorments and bring futher collaboration between local business and creative communities.
			</li>
			<li>
				More features to be added. Currently in <b>Alpha</b>
			</li>
		</ul>
	</div>
	<br><br>
	<div class="well">
		<h2>Changelog</h2>
		<p>
			June 30th, 2015 - First Update
			<ul>
				<li>Added Logo</li>
				<li>Added App Features</li>
				<li>Commited to Heroku Testing</li>
			</ul>
		</p>

		<p>
			June 30th, 2015 11:00 PM -  Social APIs
			<ul>
				<li>Support for Facebook, Twitter, LinkedIN, Google, and github for login.</li>
				<li>Database Linked</li>
			</ul>
		</p>

	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The Promosaur Team.
	<br>
</section>
